<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/united/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LCNAF Extractor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ frontend_url }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#textModal">Supply text for NER</button>
                <button type="button" class="btn btn-secondary disabled" id="searchRetrieve">Search/Retrieve</button>
                <button type="button" class="btn btn-secondary disabled" id="downloadSelected">Save selected documents</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div id="namedEntities">
                    {% block named_entities %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-8">
                <div id="recordView">
                </div>
                <div class="modal" id="textModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Provide text for Named Entity Recognition</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="textForm" method="post" action="{{ api_upload }}" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <fieldset>
                                        <small id="fileHelp" class="form-text text-muted">Paste into text area or upload .txt file</small>
                                        <div class="form-group">
                                            <label for="inputTextarea">Text</label>
                                            <textarea class="form-control" name="inputTextarea" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputFile">File input</label>
                                            <input type="file" name="inputFile" class="form-control-file" id="inputFile" aria-describedby="fileHelp">
                                        </div>

                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
      $(function () {
	  $('[data-toggle="popover"]').popover()
      })
      function goProgressBar () {
      let progress = 0;
      function trackProgress () {
	  setTimeout(function ()
		     {
			 progress = getProgress();
			 console.log(progress);
			 if (progress < 100)
			 {
			     trackProgress();
			 }
			 else
			 {
			     progress = 100;
			     console.log(progress);
			     return progress;
			 }
		     }, 100);
      }
      trackProgress();
  }
    </script>
</body>

</html>
