{% extends 'index.html' %}
{% block named_entities %}
    <div id="namedEntitiesArea" class="form-group">
    <div id="namedEntitiesButtons">
    </div>
    </div>
    <div class="modal" id="loadingModal">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
            <h5 class="modal-title">Loading MARC Records</h5>
	  </div>
	  <div class="modal-body">
	    <div class="progress">
	      <div id="ldSearchProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <script>
 function getProgress () {
      let currentPos;
      $.get("{{ frontend_url }}/get_progress", function (data) {
	  currentPos = Number(data);
	  console.log(currentPos);
      });
      return currentPos;
}

  function goProgressBar () {
      var progress = 0;
      function trackProgress () {
	  setTimeout(function ()
		     {
			 progress = getProgress();
			 console.log("oh hey its the progress" + progress);
			 if (progress < 100)
			 {
			     trackProgress();
			 }
			 else
			 {
			     progress = 100;
			     console.log(progress);
			     return progress;
			 }
		     }, 100);
      }
      trackProgress();
  }
      
  function namedEntity (name, type, query, sessionId)
{
    this.name = name;
    this.type = type;
    this.query = JSON.parse(query);
    this.sessionId = sessionId;
}

//helper function providing rough thesaurus of entity types
function entityTypeDetermine (entityType)
{
    //WARNING: SUPER ADVANCED SEMANTIC TECHNIQUES AHEAD!
    let SpaCy = [
	{term: "ORG", synonym: "rdftype:CorporateName"},
	{term: "PER", synonym: "rdftype:PersonalName"}
    ];
    for (let i=0; i < SpaCy.length; i++)
    {
	if (SpaCy[i].term == entityType)
	{
	    console.log(SpaCy[i].synonym);
	    return SpaCy[i].synonym;
	}
    }
}

function namedEntityPopover(id, parent_namedEntityWidget)
{
    this.parent = parent_namedEntityWidget;
    this.id = id;
    this.popoverId = "popoverId" + this.id;
    this.inputId = "inputId" + this.id;
    this.typeId = "typeId" + this.id;
    this.isSelected = function (entityType) {	
	let selected = 'selected="selected"';
	if (entityType == this.parent.namedEntity.type)
	{
	    return selected;
	}
	else
	{
	    return "";
	}
    };
    this.saveButtonId = "saveButtonId" + this.id;
    this.cancelButtonId = "cancelButtonId" + this.id;
    this.popoverForm = function () {
	let form = `<div id="${this.popoverId}"><div>
<input id="${this.inputId}" type="text" value="${this.parent.namedEntity.name}" class="form-control">
</div>
<div>
<select class="custom-select" id="${this.typeId}">
<option ${this.isSelected("PER")}" value="PER">Person</option>
<option ${this.isSelected("ORG")}" value="ORG">Organization</option>
</select>
</div>
<button id="${this.saveButtonId}" class="btn btn-success btn-sm" type="button">Save Changes</button>
<button id="${this.cancelButtonId}" class="btn btn-danger btn-sm" type="button">Cancel</button>
</div>`;
	return form;
    };
    this.returnFormVals = function () {
	let nameVal = document.getElementById(this.inputId).value;
	let typeVal = document.getElementById(this.typeId).value;
	this.parent.namedEntity.name = nameVal;
	this.parent.namedEntity.type = typeVal;
	return this.parent.namedEntity;
    };
}

//helper func for popover
function processPopover (popoverObj) {
    let nameVal = document.getElementById(popoverObj.inputId).value;
    let typeVal = document.getElementById(popoverObj.typeId).value;
    popoverObj.parent.namedEntity.name = nameVal;
    popoverObj.parent.namedEntity.type = typeVal;
    return popoverObj.parent.namedEntity;
}

function namedEntityWidget (id, namedEntity)
{
    this.id = id;
    this.namedEntity = namedEntity;
    this.checkButtonId = "namedEntityCButton" + this.id;
    this.checkButtonWidgetId = "checkButtonWidgetId" + this.id;
    this.editButtonId = "editButton" + this.id;
    this.namedEntityLabel = "namedEntityLabel" + this.id;
    this.popover = new namedEntityPopover(this.id, this);
    this.popoverTemplate = `<div id="popover${this.id}"class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>`;
    this.checkButton = function () {
	let button = `<div id="${this.checkButtonWidgetId}" class="custom-control custom-checkbox">
<input class="custom-control-input" id="${this.checkButtonId}" unchecked type="checkbox">
<label id="${this.namedEntityLabel}" class="custom-control-label" for="${this.checkButtonId}">
${this.namedEntity.name}
<button id="${this.editButtonId}" class="btn btn-link btn-sm" type="button" data-toggle="popover" data-template='${this.popoverTemplate}' data-content='${this.popover.popoverForm()}' data-html="true" >
<i class="fa fa-edit"></i>
</button>
</label>
</div>`;
	return button;
    };
    this.appendCheckButton = function (entitiesSelectorId) {
	const buttonArea = document.getElementById(entitiesSelectorId)
	const buttonUnordered = `<div id="${this.checkButtonWidgetId}"></div>`
	const button = this.checkButton();
	buttonArea.insertAdjacentHTML('beforeend', buttonUnordered);
	buttonSlot = document.getElementById(this.checkButtonWidgetId);
	buttonSlot.insertAdjacentHTML('beforeend', button);
    };
    this.getCheckButton = function() {
	let isChecked = document.getElementById(this.checkButtonId);
	return isChecked.checked;
    };
    this.editButton = `<button id="${this.editButtonId}" class="btn btn-link btn-sm" type="button">
<i class="fa fa-edit"></i></button>`;
    this.updateQueryName = function (oldName, newName) {
	let queryObj = this.namedEntity.query.q;
	for (let i=0; i < queryObj.length; i++)
	{
	    if (queryObj[i] == oldName)
	    {
		queryObj.splice(i, 1);
		queryObj.push(newName);
	    }
	}
	return this.namedEntity.query.q;
    };
    this.updateQueryType = function (oldType, newType) {
	let queryObj = this.namedEntity.query.q;
	let newQueryType = entityTypeDetermine(newType);
	let oldQueryType = entityTypeDetermine(oldType);
	for (let i=0; i < queryObj.length; i++)
	{
	    if (queryObj[i] == oldQueryType)
	    {
		queryObj[i] = newQueryType;
	    }
	}
	return this.namedEntity.query.q
    };
}

function makeNamedEntities(responseData)
  {
      let namedEntityWidgets = [];
      let entitiesData = JSON.parse(responseData);
      let idIndex = 0;
      for(const entity in entitiesData)
      {
	  //making namedEntity
	  let name = entitiesData[entity].name;
	  let type = entitiesData[entity].type;
	  let query = entitiesData[entity].query;
	  let session = entitiesData[entity].session;
	  let entityProduct = new namedEntity(name, type, query, session);
	  //making namedEntityWidget
	  let id = ++idIndex;
	  let widget = new namedEntityWidget(id, entityProduct);
	  namedEntityWidgets.push(widget);
      }
      return namedEntityWidgets;
}

function nameAuthority (name, lccn, marcxmlStr, marcTextRepr)
{
    this.assocName = name;
    this.lccn = lccn;
    this.marcxmlStr = marcxmlStr;
    this.marcTextRepr = marcTextRepr;
}

function nameAuthorityWidget (id, nameAuthorityObj)
{
    this.id = id;
    this.nameAuthority = nameAuthorityObj;
    this.checkButtonId = "recordCheckButton" + this.id;
    this.card = `<div class="card border-light mb-3">
<div class="card-header">
<div class="custom-control custom-checkbox">
<input class="custom-control-input" id="${this.checkButtonId}" type="checkbox">
<label class="custom-control-label" for="${this.checkButtonId}">
Select for download
</label>
</div>
</div>
<div class="card-body">
<h4 class="card-title">${this.id}  ${this.nameAuthority.assocName}
</h4>
<p class="card-text" style="white-space:pre-wrap;">${this.nameAuthority.marcTextRepr}</p>
</div>
</div>`;
    this.getCheckButton = function () {
	let isChecked = document.getElementById(this.checkButtonId);
	return isChecked.checked;
    };
}

function makeNameAuthorityWidgets (dataObj) {
    let nameAuthorities = [];
    for (const entity in dataObj)
    {
	let name = entity;
	let records = dataObj[entity];
	for (const LCCNum in records)
	{
	    let lccn = LCCNum;
	    let marcxmlStr = records[LCCNum].marcxml;
	    let marcTextRepr = records[LCCNum].marc_text_repr;
	    let record = new nameAuthority(name, lccn, marcxmlStr, marcTextRepr);
	    let widget = new nameAuthorityWidget(lccn, record);
	    nameAuthorities.push(widget);
	}
    }
    return nameAuthorities;
}

//white-listing popover
const myDefaultWhiteList = $.fn.tooltip.Constructor.Default.whiteList
myDefaultWhiteList.div = ['id']
myDefaultWhiteList.input = ['value', 'id', 'type']
myDefaultWhiteList.select = ['id']
myDefaultWhiteList.option = ['value', 'selected']
myDefaultWhiteList.button = ['id', 'class', 'type']

// the "main" block

// adding legend to Named Entities column
const namedEntitiesDiv = document.getElementById("namedEntities");
const legend = `<legend>Named Entities</legend`;
namedEntitiesDiv.insertAdjacentHTML('afterbegin', legend);

// getting data & building widgets
let entityData = JSON.stringify({{ response_data | safe}});
let namedEntityWidgets = makeNamedEntities(entityData);
console.log(namedEntityWidgets);
for (let i=0; i<namedEntityWidgets.length; i++)
  {
      namedEntityWidgets[i].appendCheckButton("namedEntitiesButtons");
  }

// combined with the readyWidgets func, leaving here for modularity
function readyPopovers () {
    $(document).ready(function(){
	$('[data-toggle="popover"]').popover();
    });
}

function readyWidgets (widgetsArray) {
$(document).ready(function(){
	$('[data-toggle="popover"]').popover();
    });
for (let i=0; i<widgetsArray.length; i++)
{
    let widget = namedEntityWidgets[i]
    let editButton = "#" + widget.editButtonId;
    $(editButton).on('shown.bs.popover', function() {
	let inputId = widget.popover.inputId;
	let typeId = widget.popover.typeId;
	let saveId = widget.popover.saveButtonId;
	let cancelId = widget.popover.cancelButtonId;
	console.log(inputId);
	console.log($("#"+inputId).value);
	let popoverInput = document.getElementById(inputId);
	let popoverType = document.getElementById(typeId);
	let popoverSave = document.getElementById(saveId);
	popoverSave.addEventListener('click', function(event) {
	    let oldName = widget.namedEntity.name;
	    let newName = popoverInput.value;
	    let oldType = widget.namedEntity.type;
	    let newType = popoverType.value;
	    widget.updateQueryName(oldName, newName);
	    widget.updateQueryType(oldType, newType);
	    widget.namedEntity.name = popoverInput.value;
	    widget.namedEntity.type = popoverType.value;
	    widget.namedEntityLabel
	    $(editButton).popover('hide');
	    let widgetId = widget.checkButtonWidgetId;
	    let label = document.getElementById(widgetId);
	    label.innerHTML = widget.checkButton();
	    readyWidgets(namedEntityWidgets);
	});
	let popoverCancel = document.getElementById(cancelId);
	popoverCancel.addEventListener('click', function(event) {
	    $(editButton).popover('hide');
	});
    });    
}
}

readyWidgets(namedEntityWidgets);

// global const so name authorities object references can persist
// outside of the ajax callback.
// TODO: refactor into an object that can provide a name authority
// factory to be requested in the ajax callback.
const authoritiesDisplay = [];
    

const searchRetrieve = document.getElementById("searchRetrieve");
searchRetrieve.classList.remove('disabled');
searchRetrieve.addEventListener('click', function (event) {
    let namedEntities = {};
    for (let i = 0; i < namedEntityWidgets.length; i++)
    {
	if (namedEntityWidgets[i].getCheckButton() == true)
	{
	    let namedEntity = namedEntityWidgets[i].namedEntity;
	    namedEntities[namedEntity.name] = namedEntity;
	}
    }
    let namedEntitiesJson = JSON.stringify(namedEntities);
    $.ajax({
	url: "{{ backend_url }}/api/search_loc_ld",
	type: "get",
	data: {named_entities: namedEntitiesJson,
	       session_id: '{{ session_id }}'},
	success: function (data) {
	    let marcData = JSON.parse(data);
	    let authorities = makeNameAuthorityWidgets(marcData);
	    let recordsDisplay = document.getElementById("recordView");
	    let legend = `<legend>LCNAF Authority Records</legend>`;
	    recordsDisplay.insertAdjacentHTML('beforeend', legend);
	    for (let i=0; i < authorities.length; i++)
	    {
		recordsDisplay.insertAdjacentHTML('beforeend', authorities[i].card);
		// I hate this and it's stupid, but for now I'm
		//going to plop these name authority objects into
		// a global so their data members can be
		// accessed outside of this scope.
		authoritiesDisplay.push(authorities[i]);

		let downloadButton = document.getElementById("downloadSelected");
		downloadButton.classList.remove('disabled');
	    }
	    //end success
	}
	//end ajax
    });
    $("#loadingModal").modal('show');
    let started = false;
    let finished = false;
    let p = 0;
    function prog () {
    setTimeout(function () {
	$.ajax({
	    url: '{{ backend_url }}' + '/api/get_progress',
	    type: "get",
	    data: {session_id: '{{ session_id }}'},
	    success: function (data) {
		if (data > 0)
		{
		    p = data;
		    started = true;
		}
		if (data == 0 && started == true)
		{
		    finished = true;
		    p = 100;
		}
	    }
	});
	console.log(p);
	let percent = p + "%";
	$("#ldSearchProgress").css('width', percent);
	if (finished == false)
	{
	    prog();
	}
	else
	{
	    setTimeout(function (){
		$("#loadingModal").modal('hide');
	    }, 500);
	}
    }, 500);
    }
    prog()
    //end searchRetreive
});

const downloadMarcXML = document.getElementById("downloadSelected");
// this is mad stupid: sending way too much data back and forth
// needlessly, but it should work for now.
// TODO: get some type of session store or cache set up to save
// the data when the server originally retrieves it.
// TODO: formalize the data model of named entity and
// named authority objects so the frontend and backend can
// work off of a mutually understood schema.
downloadMarcXML.addEventListener('click', function () {
    const selectedAuthorities = [];
    for (i=0; i<authoritiesDisplay.length; i++)
    {
	let authorityRec = authoritiesDisplay[i];
	if (authorityRec.getCheckButton() == true)
	{
	    selectedAuthorities.push(authorityRec.nameAuthority);
	}
    }
    const selectedAuthoritiesJson = JSON.stringify(selectedAuthorities);
    $.ajax({url: "{{ frontend_url }}/compress_records",
	    type: "post",
	    data: {marcxml_records: selectedAuthoritiesJson},
	    success: function (data) {
		let responseData = JSON.stringify(data);
		responseData = JSON.parse(responseData);
		let filename = responseData['gzip_file'];
		let tarballURL = "{{ frontend_url  }}/download/" + filename;
		console.log("Records processed successfully");
		window.open(tarballURL);
	    }
	    //end ajax
	   });
});
			       
</script>

{% endblock %}
