{% extends 'index.html' %}
{% block named_entities %}
<div id="edit-popover" class="d-none">
    <div class="form-group" id="edit-popover-form">
        <label class="col-form-label col-form-label-sm" for="inputSmall">Small input</label>
        <input class="form-control form-control-sm" type="text" placeholder="" id="inputSmall">
    </div>
</div>
<div id="namedEntitiesButtons" class="form-group">
</div>
<script>
  var myDefaultWhiteList = $.fn.tooltip.Constructor.Default.whiteList
  myDefaultWhiteList.div = ['id']
  myDefaultWhiteList.input = ['value', 'id', 'type']
    myDefaultWhiteList.select = []
    myDefaultWhiteList.option = ['value']

    $("#namedEntities").prepend("<legend>Named Entities</legend>");
    $("#searchRetrieve").removeClass("disabled");
  var namedEntitiesStr = JSON.stringify({{ response_data | safe }});
    var namedEntitiesObj = JSON.parse(namedEntitiesStr);
    console.log(namedEntitiesObj);
    console.log(Object.values(namedEntitiesObj));
    var uuid_key = Object.keys(namedEntitiesObj)[0];
    var namedEntitiesObjValues = Object.values(namedEntitiesObj);

    function namedEntity(name, id, type) {
        this.id = id;
        this.markupId = 'entity' + this.id;
        this.labelId = 'entityLabel' + this.id;
        this.name = name;
        this.type = type;
        this.checkButton = '<div class="custom-control custom-checkbox"> <input class="custom-control-input" id="' + this.markupId + '" unchecked type="checkbox"><label id="' + this.labelId + '" class="custom-control-label" for="' + this.markupId + '">' + this.name + '</label></div>';
        this.getButtonState = function() {
            var isChecked = $("#" + this.markupId).prop("checked");
            console.log(isChecked);
            return isChecked;
        };
        this.assoc_records = [];
        this.get_records = function(api_query) {
            console.log("not yet implemented");
        };
    }
  
    var entityValues = Object.values(namedEntitiesObj);
    var namedEntities = [];
    for (i = 0; i < entityValues.length; i++) {
        var entity = new namedEntity(entityValues[i].name, i, entityValues[i].type);
        console.log(entity.name)
        namedEntities.push(entity);
    }
  
    for (i = 0; i < namedEntities.length; i++) {
        var checkButton = namedEntities[i].checkButton;
        $("#namedEntitiesButtons").append($(checkButton));
        $(namedEntities[i].markupId).prop('checked', false);
        var editId = namedEntities[i].markupId + "Edit";
        var button = '<button id="' + editId + '"></button>';
        $("#" + namedEntities[i].labelId).append(button);
        $("#" + editId).addClass("btn btn-link btn-sm");
        $("#" + editId).attr("type", "button");
        $("#" + editId).html('<i class="fa fa-edit"></i>');
        var popoverOptions = {
            html: true,
            container: 'body',
            placement: "right",
            trigger: 'click'
        };
        $("#" + editId).popover(popoverOptions);
	var options = ['PER', 'ORG'];//['<option value="PER">Person</option>', '<option value="ORG">Organization</option>'];
	var optionsElements = '';
	for (j=0; j<options.length; j++)
	{
	    var opt = '';
	    if (namedEntities[i].type == options[j])
	    {
		opt = '<option value="' + options[j] + '" selected>' + options[j] + '</option>';
	    }
	    else
	    {
		opt = '<option value="' + options[j] + '">' + options[j]  + '</option>';
	    }
	    optionsElements += opt;
	}
        $("#" + editId).attr("data-content", '<div><input class="form-control" id="entityNameInput' + i + '" type="text" value="' + namedEntities[i].name + '"></div><div><select class="custom-select" id="entityTypeSelect' + i + '">' + optionsElements + '</select></div>');

    }

    function marcXML(id, recordData) {
        this.id = id;
        this.buttonID = "marcButton" + this.id;
        this.getButtonState = function() {
            var isChecked = $("#" + this.buttonID).prop("checked");
            return isChecked;
        }
        this.data = recordData;
        this.card = '<div class="card border-light mb-3"><div class="card-header"><div class="custom-control custom-checkbox"><input class="custom-control-input" id="' + this.buttonID + '"checked="" type="checkbox"> <label class="custom-control-label" for="' + this.buttonID + '">Select for download</label></div></div><div class="card-body"><h4 class="card-title">' + this.id + ' ' + this.data.assoc_name + '</h4><p class="card-text" style="white-space:pre-wrap;">' + this.data.str_repr + '</p></div></div>';
    }

    var displayRecords = [];

    $("#searchRetrieve").click(function() {
        var selectedEntities = {};
        for (i = 0; i < namedEntities.length; i++) {

            console.log(namedEntities[i].getButtonState());
            if (namedEntities[i].getButtonState() == true) {
                //fudging the fact that we're not using the session store
                //at the moment.  The session store is not strictly necessary
                //anyways, but this callback can be parameterized when it is
                //finally set up properly.
                selectedEntities[i] = namedEntities[i];
            }
        }
        var selectedEntitiesJSON = JSON.stringify(selectedEntities);
        console.log(selectedEntitiesJSON);
        $.ajax({
            url: "{{ backend_url }}/api/lcnaf_sru_selected",
            type: "get",
            data: {
                named_entities: selectedEntitiesJSON
            },
            success: function(data) {
                console.log(data);
                jdata = JSON.stringify(data);
                responseData = JSON.parse(jdata);
                $("#recordView").prepend("<legend>LCNAF Authority Records</legend>");
                for (i = 0; i < responseData.length; i++) {
                    var id = responseData[i].lccn;
                    var recordData = responseData[i];
                    var displayRecord = new marcXML(id, recordData);
                    $("#recordView").append(displayRecord.card);
                    $("#" + displayRecord.buttonID).prop('checked', false);
                    displayRecords.push(displayRecord);
                }
            }
        });
    });

    $("#downloadSelected").click(function() {
        var recordData = [];
        for (i = 0; i < displayRecords.length; i++) {
            if (displayRecords[i].getButtonState()) {
                var fileData = {
                    lccn: displayRecords[i].data.lccn,
                    str_data: displayRecords[i].data.str_data
                };
                recordData.push(fileData);
            }
        }
        console.log('record data');
        console.log(recordData);
        jsonRecordData = JSON.stringify(recordData);
        console.log(jsonRecordData);
        var url = "{{ frontend_url }}" + "/compress_records";
        $.post(url, {
            marcxml_records: jsonRecordData
        }, function(data) {
            var stringData = JSON.stringify(data);
            var responseData = JSON.parse(stringData);
            var filename = responseData['gzip_file'];
            console.log("record data processed successfully");
            var download_url = " {{ frontend_url }}" + "/download/" + filename;
            window.open(download_url);
        });
    });
</script>
{% endblock %}
